body {
  margin: 0;
  background-color: lightgrey;
}

.editor {
  box-shadow: 0 0 0.5em black;
}

.statusbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  bottom: 0;
  box-shadow: 0 0 0.5em black;
  padding: 0.3em;
  background-color: black;
  color: lightgrey;
  font-family: 'Source Code Pro';
  font-size: 0.9em;
}

.CodeMirror {
  height: auto;
}
